html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
}

body > header {
    background-color: #6a5acd;
    color: white;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

body > main {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

body > footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

section {
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-weight: normal;
    color: #333;
}

button {
    background-color: #4c86cd;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}

button:hover {
    background-color: #3a5a8d;
}

input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    body > header, body > footer {
        padding: 20px 0;
    }

    body > main {
        padding: 20px;
    }

    input[type="text"] {
        width: 100%;
    }
}
